{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block menuCatT %}
    <ul class="vertical menu" id="menu-dashboard">
        <label id="label">Settings</label>
        <li id="menu-option"><a href="{{ path('index_team', {'name': project.name}) }}">Team</a></li>
        <li id="menu-option"><a href="{{ path('invitation_access_team', {'name': project.name}) }}">Invitations</a></li>
        <li id="menu-option"><a href="{{ path('settings_project', {'name': project.name}) }}">Settings</a></li>
    </ul>
{% endblock %}

{% block table %}
    <div style="margin-left: 10px">

        <h4>Team</h4> <hr>

        <table class="unstriped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Permission</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for team in selectTeam %}
                <tr>
                    <td><img src="{{ asset('avatars/'~team.participant.path) }}" id="circle"> {{ team.participant }}</td>
                    <td>
                        <ul class="dropdown menu" data-dropdown-menu>
                            <li>
                                {%  if app.user == team.participant %}
                                    <button type="button" class="button primary" disabled>MASTER</button>
                                {% else %}
                                    <a href="#" class="button">
                                        {% if team.permission == NULL %}
                                            NULL
                                        {% else %}
                                            {{ team.permission }}
                                        {% endif %}
                                    </a>

                                    <ul class="menu">
                                        <li><a href="{{ path('set_developer_team', {'id': team.id}) }}">Developer</a></li>
                                        <li><a href="{{ path('set_moderator_team', {'id': team.id}) }}">Moderator</a></li>
                                        <li><a href="{{ path('set_master_team', {'id': team.id}) }}">Master</a></li>
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>
                    </td>
                    <td>{{ team.createdAt|date("d M Y, H:m:i") }}</td>
                    <td>
                        <div class="button-group">
                            {%  if app.user == team.participant %}
                                <button class="hollow button alert" disabled>
                                    <img src="{{ asset('img/trash.png') }}" width="20">
                                </button>
                            {% else %}
                                <a href="{{ path('remove_team', {'id': team.id}) }}" class="hollow button alert">
                                    <img src="{{ asset('img/trash.png') }}" width="20">
                                </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <center>{{ knp_pagination_render(selectTeam) }}</center>
    </div>
{% endblock %}