{% extends 'base.html.twig' %}

{% block title %}Requests{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block menuCatT %}
    <ul class="vertical menu" id="menu-dashboard">
        <label id="label">Settings</label>
        <li id="menu-option"><a href="{{ path('index_team', {'name': project.name}) }}">Team</a></li>
        <li id="menu-option"><a href="{{ path('invitation_access_team', {'name': project.name}) }}">Invitations</a></li>
        <li id="menu-option"><a href="{{ path('settings_project', {'name': project.name}) }}">Settings</a></li>
    </ul>
{% endblock %}

{% block table %}
    <div style="margin-left: 10px">

        <h4>Invitations</h4> <hr>

        <table class="unstriped">
            <thead>
            <tr>
                <th>Username</th>
                <th>Message</th>
                <th>Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for team in selectTeam %}
                <tr>
                    <td><img src="{{ asset('avatars/'~team.participant.path) }}" id="circle"> {{ team.participant }}</td>
                    <td>
                        {% if team.message %}
                        <button class="button clear" data-open="message_{{ team.id }}">message</button>

                        <div class="small reveal" id="message_{{ team.id }}" data-reveal>
                            <h4>Message from {{ team.participant.username }}</h4>
                            <hr>
                            <p>{{ team.message }}</p>
                            <button class="close-button" data-close aria-label="Close modal" type="button">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% else %}
                            none
                        {% endif %}
                    </td>
                    <td>
                        {% if team.modified %}
                            {{ team.modified|date("d M Y, H:m:i") }}
                        {% else %}
                            {{ team.createdAt|date("d M Y, H:m:i") }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="button-group">
                            <a href="{{ path('join_confirm', {'id': team.id}) }}" class="hollow button success"><img src="{{ asset('img/ok.png') }}" width="20"></a>
                            <a href="{{ path('remove_team', {'id': team.id}) }}" class="hollow button alert"><img src="{{ asset('img/trash.png') }}" width="20"></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <center>{{ knp_pagination_render(selectTeam) }}</center>
    </div>
{% endblock %}