{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Edit</h4>

        {{ form_start(formComment, {"attr": {"novalidate": "novalidate"}}) }}
        {{ form_widget(formComment.content, {'attr': {'rows': 3}}) }}
        <button type="submit" class="button primary">Save</button>
        {{ form_end(formComment) }}

    </div>
{% endblock %}