#logo {
    color: #efefef;
    font-size: larger;
}

#logo:hover {
    color: #a4a4a4;
}

#a_dashboard {
    background-color: #bbbbbb;
}

#a_dashboard:hover {
    background-color: #0087D5;
}

#responsive-menu {
    height: 6vh;
}

#circle {
    width: 4vh;
    height: 4vh;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
#circle-profile {
    width: 20vh;
    height: 20vh;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

#iceboxB {
    width: 140px;
    height: 140px;
    background: #66ccff;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#iceboxB:hover {
    background: #0099ff;
}

#inprogressB {
    width: 140px;
    height: 140px;
    background: #99cccc;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#inprogressB:hover {
    background: #33cccc;
}

#testingB {
    width: 140px;
    height: 140px;
    background: #ffae00;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#testingB:hover {
    background: #ff9900;
}

#completeB {
    width: 140px;
    height: 140px;
    background: #00b400;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

#completeB:hover {
    background: #339933;
}

#buttonB {
    font-size: 7vh;
}

#menu {
    height: 60vh;
}

#menu-option {
    background: #f5f5f5;
    color: #000000;
    padding: 6%;
    border-bottom: 0.1vh solid #d7d7d7;
}

.menu-option-info {
    background: #f5f5f5;
    color: #000000;
    padding: 6%;
    border-bottom: 0.1vh solid #d7d7d7;
}

#menu-option:hover {
    background: #e0e0e0;
}

.menu-option-info:hover {
    background: #f5f5f5;
}

#menu-dashboard {
    margin: 7px;
    background: #f5f5f5;
}

#label {
    background: #d7d7d7;
    text-align: left;
}

#dashboard {
    padding: 2vh;
}

#button-avatar-base {
    width: 10vh;
    height: 5vh;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}

#button-avatar-base:hover {
    opacity: 0.4;
}

.dot-green {
    height: 25px;
    width: 25px;
    background-color: #0fa83b;
    border-radius: 50%;
    display: inline-block !important;
}

.dot-grey {
    height: 25px;
    width: 25px;
    background-color: #898989;
    border-radius: 50%;
    display: inline-block !important;
}

.dot-purple {
    height: 25px;
    width: 25px;
    background-color: #6511ad;
    border-radius: 50%;
    display: inline-block !important;
}

.dot-red {
    height: 25px;
    width: 25px;
    background-color: #ff0000;
    border-radius: 50%;
    display: inline-block !important;
}