{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Category</h4> <hr>

        <table class="striped">
        <thead>
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{ form_start(formCategory, {"attr": {"novalidate": "novalidate"}}) }}
            <td>
                {{ form_widget(formCategory.name, {'attr': {'placeholder': 'new name of category'}}) }}
            </td>
            <td>
                {{ form_widget(formCategory.save, {'attr': {'class': 'button'}}) }}
            </td>
            {{ form_end(formCategory) }}
        </tr>
        {% for category in selectCategory %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <div class="button-group">
                        <a href="{{ path('edit_category', {'id': category.id}) }}" class="hollow button warning">
                            <img src="{{ asset('img/edit.png') }}" width="20">
                        </a>
                        <a href="{{ path('delete_category', {'id': category.id}) }}" class="hollow button alert">
                            <img src="{{ asset('img/trash.png') }}" width="20">
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>
                    <p><b>You don't have any category yet</b></p>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>

        <center>{{ knp_pagination_render(selectCategory) }}</center>
    </div>
{% endblock %}