{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Edit</h4> <hr>

        <table class="unstriped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Status</th>
            <th>Board</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                {{ form_start(formTask, {"attr": {"novalidate": "novalidate"}}) }}
                <td>
                    {{ form_widget(formTask.title, {'attr': {'placeholder': 'Title'}}) }}
                </td>
                <td>
                    {{ form_widget(formTask.category) }}
                </td>
                <td>
                    {{ form_widget(formTask.description, {'attr': {'placeholder': 'Description…'}}) }}
                </td>
                <td>{{ form_widget(formTask.status, {"attr": {"novalidate": "novalidate"}}) }}</td>
                <td>
                    {{ form_widget(formTask.board) }}
                </td>
                <td>
                    {{ form_widget(formTask.add, {'attr': {'class': 'button'}}) }}
                </td>
                {{ form_end(formTask) }}
            </tr>
        </tbody>
        </table>
    </div>
{% endblock %}