{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">

        <h4>Task</h4> <hr>

        <div class="row">
            <div class="columns">
                <div class="table-scroll">
                    <table class="striped">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Board</th>
                            <th>Developer</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {{ form_start(formTask, {"attr": {"novalidate": "novalidate"}}) }}
                            <td>
                                {{ form_widget(formTask.title, {'attr': {'placeholder': 'Title'}}) }}
                            </td>
                            <td>
                                {{ form_widget(formTask.category) }}
                            </td>
                            <td>
                                {{ form_widget(formTask.description, {'attr': {'placeholder': 'Description…'}}) }}
                            </td>
                            <td>---</td>
                            <td>Backlog</td>
                            <td>---</td>
                            <td>
                                {{ form_widget(formTask.add, {'attr': {'class': 'button'}}) }}
                            </td>
                            {{ form_widget(formTask.status, {'attr': {'hidden': true}}) }}
                            {{ form_widget(formTask.board, {'attr': {'hidden': true}}) }}
                            {{ form_end(formTask) }}
                        </tr>
                        {% for task in selectTask %}
                            <tr>
                                <td style="width: 15%">{{ task.title }}</td>
                                <td>{{ task.category != null ? task.category.name : '---' }}</td>
                                <td style="width: 40%">{{ task.description != null ? task.description : "---" }}</td>
                                <td>{{ task.status }}</td>
                                <td>{{ task.board.name }}</td>
                                <td>{{ task.developer != null ? task.developer : '---' }}</td>
                                <td>
                                    <div class="button-group">
                                        <a href="{{ path('edit_task', {'id': task.id}) }}" class="hollow button warning">
                                            <img src="{{ asset('img/edit.png') }}" style="max-width: 20px">
                                        </a>
                                        <a href="{{ path('delete_task', {'id': task.id}) }}" class="hollow button alert">
                                            <img src="{{ asset('img/trash.png') }}" style="max-width: 20px">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>
                                    <p><b>You don't have any task yet</b></p>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <center>{{ knp_pagination_render(selectTask) }}</center>
    </div>
{% endblock %}