{% extends 'base.html.twig' %}

{% block title %}Scrum-Table{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    {% if team.participant == app.user and team.permission == 'MASTER' or team.permission == 'MODERATOR' %}
        <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
        <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
        <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
    {% endif %}
{% endblock %}

{% block menuCatT %}
    <ul class="vertical menu">
        <label id="label">Team</label>
        <form method="get" action="{{ path('table_task', {name: project.name, id: board.id}) }}">
            <li id="menu-option"><input type="submit" class="button clear" name="developer_filter" value="All"></li>
        {% for dev in teamDevelopers %}
            <li id="menu-option"><input type="submit" class="button clear" name="developer_filter" value="{{ dev.participant.username }}"></li>
        {% endfor %}
        </form>

        <label id="label">Category</label>
        <form method="get" action="{{ path('table_task', {name: project.name, id: board.id}) }}">
            <li id="menu-option"><input type="submit" class="button clear" name="category_filter" value="All"></li>
            {% for category in selectCategory %}
                <li id="menu-option"><input type="submit" class="button clear" name="category_filter" value="{{ category.name }}"></li>
            {% endfor %}
        </form>

    </ul>
{% endblock %}

{% block table %}

    <ul class="tabs" data-deep-link="true" data-update-history="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="500" data-tabs id="task-tabs">
        <li class="tabs-title is-active"><a href="#icebox" aria-selected="true">ICE BOX <span class="badge secondary">{{ icebox|length }}</span></a></li>
        <li class="tabs-title"><a href="#inprogress" aria-selected="true">IN PROGRESS <span class="badge secondary">{{ inProgress|length }}</span></a></li>
        <li class="tabs-title"><a href="#testing" aria-selected="true">TESTING <span class="badge secondary">{{ testing|length }}</span></a></li>
        <li class="tabs-title"><a href="#complete" aria-selected="true">COMPLETE <span class="badge secondary">{{ complete|length }}</span></a></li>
    </ul>

    <center>
        <div class="tabs-content" data-tabs-content="task-tabs">
            <div class="tabs-panel is-active" id="icebox">
                {% for task in icebox %}
                    {% include 'task/scrum_table_icebox.html.twig' %}
                {% else %}
                    <p style="font-size: 25px;">Ice Box is empty</p>
                {% endfor %}
            </div>

            <div class="tabs-panel" id="inprogress">
                {% for task in inProgress %}
                    {% include 'task/scrum_table_inprogress.html.twig' %}
                {% else %}
                    <p style="font-size: 25px;">No tasks are in progress</p>
                {% endfor %}
            </div>

            <div class="tabs-panel" id="testing">
                {% for task in testing %}
                    {% include 'task/scrum_table_testing.html.twig' %}
                {% else %}
                    <p style="font-size: 25px;">Any tasks aren't testing</p>
                {% endfor %}
            </div>

            <div class="tabs-panel" id="complete">
                {% for task in complete %}
                    {% include 'task/scrum_table_complete.html.twig' %}
                {% else %}
                    <p style="font-size: 25px;">Any tasks aren't testing</p>
                {% endfor %}
            </div>
        </div>
    </center>

{% endblock %}
