<div class="card" style="width: 80%;">
    <div class="card-divider" style="background: rgba(153, 204, 204, 0.5);">
        <button class="button clear" style="color: #000000; font-size: 20px; padding: 0%;" data-open="inprogressNext_{{ task.id }}">{{ task.title }}</button>
    </div>
    <div class="card-section text-center">
        <p>{{ task.description }}</p>
    </div>
    <table>
        <tr>
            <td class="text-center" style="border-right: 1px solid #000000;">{{ task.developer.username ?? '' }}</td>
            <td class="text-center">{{ task.category != null ? task.category.name : '---' }}</td>
        </tr>
    </table>
</div>

<div class="large reveal" id="inprogressNext_{{ task.id }}" data-reveal>

    <div class="card" style="margin-left: 20px; margin-right: 20px">
        <div class="card-divider">
            <b>{{ task.title }}</b>
        </div>
        <div class="card-section">
            <p>
                {{ task.description }}
            </p>
            <hr>
            {% if task.developer == app.user %}
                <p>
                <ul>
                    <li>ICE BOX <img src="{{ asset('img/ok.png') }}" width="25" class="img-responsive"></li>
                    <li>IN PROGRESS <img src="{{ asset('img/progress.png') }}" width="25" class="img-responsive"></li>
                    <li>TESTING…</li>
                    <li>COMPLETE…</li>
                </ul>
                <a href="{{ path('resign', {'id': task.id}) }}" class="button" style="background: #66ccff"><b>Ice Box</b></a>
                <a href="{{ path('set_inprogress_task', {'id': task.id}) }}" class="button" style="background: #99cccc"><b>In Progress</b></a>
                <a href="{{ path('set_testing_task', {'id': task.id}) }}" class="button" style="background: #ffae00"><b>Testing</b></a>
                <a href="{{ path('set_complete_task', {'id': task.id}) }}" class="button" style="background: #00b400"><b>Complete</b></a>
                </p>
                <hr>
            {% endif %}
            <div>
                <h5>Comments</h5>
                <form action="{{ path('new_comment', {'task': task.id })}}" method="post">
                    <textarea name="content_comment" rows="3" placeholder="Comment..."></textarea>
                    <input type="hidden" value="{{ task.id }}" name="task_comment">
                    <input type="submit" value="Comment" class="button float-right">
                </form>
            </div>
            <hr>

            {% for comment in task.comments %}
                {% if comment.deleted == false %}
                    <div class="media-object">
                        <div class="media-object-section">
                            <img src="{{ asset('avatars/'~comment.author.path) }}" id="circle">
                        </div>
                        <div class="media-object-section">
                            <b>{{ comment.author.fullname ? comment.author.fullname : comment.author.username }} &nbsp;</b>
                            <span style="color: dimgrey">
                                                {{ comment.createdAt|date('d F Y H:i') }} &nbsp;
                                                {{ comment.modified ? 'modified' }}
                                {% if comment.author == app.user %}
                                    <a href="{{ path('remove_comment', {id: comment.id}) }}" class="button clear alert" style="padding: 0; margin: 0">remove</a>
                                    <a href="{{ path('edit_comment', {id: comment.id}) }}" class="button clear warning" style="padding: 0; margin: 0">edit</a>
                                {% endif %}
                                            </span>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="reveal" id="resign_{{ task.id }}" data-reveal>
    <h2 class="text-center">{{ task.title }}</h2>
    <p class="lead text-center">Are you sure you want to resign?</p>
    <p class="text-center"><a href="{{ path('resign', {'id': task.id}) }}" class="button warning"><b>Resign</b></a></p>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>