<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ScruM|{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/foundation.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/logo.png') }}" />
</head>
<body>

{#menu#}
<div class="top-bar" id="responsive-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <a href="{{ path('all_project') }}" style="padding: 0%;" id="logo" class="button clear"><img src="{{ asset('img/logo.png') }}" width="30">ScruMaster</a> &nbsp {# <img src="{{ asset('img/logo.png') }}" width="50"> #}
            {% block menu %}{% endblock %}
        </ul>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                <form method="post" action="{{ path('search_project') }}">
                    <input type="search" name="search_project" placeholder="Search project…">
                </form>
            </li>
            <button type="button" id="button-avatar-base" data-toggle="dropdown-top-right"><img src="{{ asset('avatars/'~app.user.path) }}" id="circle"> &#8964;</button>
            <div class="dropdown-pane" data-position="top" data-alignment="right" id="dropdown-top-right" data-dropdown data-auto-focus="false" data-close-on-click="true">
                    <a href="{{ path('profile', {'username': app.user.username}) }}">Show Profile</a>
                    <a href="{{ path('settings', {'id': app.user.id}) }}">Settings</a> <hr>
                    <a href="{{ logout_path() }}">logout</a>
            </div>
        </ul>
    </div>
    {% endif %}
</div>

{#content#}
<div class="grid-container">
    <div class="columns large-12 small-12">
        {% for message in app.flashes("alert") %}
            <div class="callout alert" data-closable>
                <p>{{ message }}</p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for message in app.flashes("success") %}
            <div class="callout success" data-closable>
                <p>{{ message }}</p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}

        {% block body %}{% endblock %}
    </div>
</div>

{#dashboard#}
<div class="grid-x grid-padding-x align-top">
    <div class="columns large-2 float-left">
        <div class="table-scroll text-center">
            {% block menuCat %}{% endblock %}
        </div>
    </div>

    <div class="columns large-6 large-offset-1" id="dashboard">
        {% block dashboard %} {% endblock %}
    </div>

    <div class="columns large-2 large-offset-1 float-right ">
        <div class="table-scroll text-center">
            {% block menuUsr %}{% endblock %}
        </div>
    </div>
</div>

{#table#}
<div class="grid-x grid-padding-x align-top">
    <div class="columns large-2 float-left">
        <div class="table-scroll text-center">
            {% block menuCatT %}{% endblock %}
        </div>
    </div>

    <div class="columns large-10">
        {% block table %} {% endblock %}
    </div>
</div>


<script src="{{ asset('js/vendor/jquery.js') }}"></script>
<script src="{{ asset('js/vendor/what-input.js') }}"></script>
<script src="{{ asset('js/vendor/foundation.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>
