{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Edit</h4> <hr>

        <table class="unstriped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Sequence</th>
            <th>Hidden</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                {{ form_start(formBoard, {"attr": {"novalidate": "novalidate"}}) }}
                <td>
                    {{ form_widget(formBoard.name, {'attr': {'placeholder': 'Name'}}) }}
                </td>
                <td>
                    {{ form_widget(formBoard.status) }}
                </td>
                <td>
                    {{ form_widget(formBoard.sequence) }}
                </td>
                <td>
                    {{ form_widget(formBoard.hidden) }}
                </td>
                <td>
                    {{ form_widget(formBoard.save, {'attr': {'class': 'button'}}) }}
                </td>
                {{ form_end(formBoard) }}
            </tr>
        </tbody>
        </table>
    </div>
{% endblock %}