{% extends 'base.html.twig' %}

{% block title %}Board{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Board</h4> <hr>

        <table class="striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Sequence</th>
                <th>Hidden</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {{ form_start(formBoard, {"attr": {"novalidate": "novalidate"}}) }}
                <td>
                    {{ form_widget(formBoard.name, {'attr': {'placeholder': 'Name'}}) }}
                </td>
                <td>
                    {{ form_widget(formBoard.status) }}
                </td>
                <td>
                    {{ form_widget(formBoard.sequence, {'attr': {'placeholder': suggestionSequence}}) }}
                </td>
                <td>
                    {{ form_widget(formBoard.hidden) }}
                </td>
                <td>
                    {{ form_widget(formBoard.save, {'attr': {'class': 'button'}}) }}
                </td>
                {{ form_end(formBoard) }}
            </tr>

            {% for board in selectBoards %}
                {% if board.name != 'Backlog' %}
                <tr>
                    <td>{{ board.name }}</td>
                    <td>
                        {% if board.status == 1 %}
                            <span class="dot-grey"></span>
                        {% elseif board.status == 2 %}
                            <span class="dot-green"></span>
                        {% elseif board.status == 3 %}
                            <span class="dot-purple"></span>
                        {% endif %}
                    </td>
                    <td>{{ board.sequence }}</td>
                    <td>{{ board.hidden ? 'HIDDEN'}}</td>
                    <td>
                        <div class="button-group">
                            <a href="{{ path('edit_board', {'id': board.id}) }}" class="hollow button warning">
                                <img src="{{ asset('img/edit.png') }}" width="20">
                            </a>
                            <a href="{{ path('delete_board', {'id': board.id}) }}" class="hollow button alert">
                                <img src="{{ asset('img/trash.png') }}" width="20">
                            </a>
                        </div>
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td>
                        <p><b>You don't have any board yet</b></p>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <center>{{ knp_pagination_render(selectBoards) }}</center>
    </div>
{% endblock %}