{% extends 'base.html.twig' %}

{% block body %}
    <h1>Forbidden</h1>

    <p>
        You do not have access to this content. <a href="{{ path('login') }}">Go to the homepage</a>.
    </p>
{% endblock %}