{% extends 'base.html.twig' %}

{% block title %}Your projects{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <a href="{{ path('all_project') }}" class="button clear">All Projects</a>
        <a href="{{ path('your_project', {'username': app.user.username}) }}" class="button clear"><b>Personal Projects</b></a>
        <a href="{{ path('new_project') }}" class="button success" style="float: right;"><b>New Project</b></a>

        <hr>

        {% for team in selectProject %}
            {% if team.invitation == 1 %}
                <img src="{{ asset('img/box-white.png') }}" class="img-responsive" width="35">
            {% else %}
                {% if team.permission == 'DEVELOPER' %}
                    <img src="{{ asset('img/box-green.png') }}" class="img-responsive" width="35">
                {% elseif team.permission == 'MODERATOR' %}
                    <img src="{{ asset('img/box-blue.png') }}" class="img-responsive" width="35">
                {% elseif team.permission == 'MASTER' %}
                    <img src="{{ asset('img/box-orange.png') }}" class="img-responsive" width="35">
                {% else %}
                    <img src="{{ asset('img/box-grey.png') }}" class="img-responsive" width="35">
                {% endif %}
            {% endif %}
            <a href="{{ path('dashboard_project', {'name': team.project.name}) }}"><b>{{ team.project.name }}</b></a>
{#            <p style="float: right;">{{ team.project.modified|date("d M Y") }}</p>#}
            {% if team.project.modified %}
                <p class="float-right">{{ team.project.modified|date("d M Y") }}</p>
            {% else %}
                <p class="float-right">{{ team.project.createdAt|date("d M Y") }}</p>
            {% endif %}
            <hr>
        {% else %}
            <p><b>You don't have any project yet</b></p>
        {% endfor %}
        <center>{{ knp_pagination_render(selectProject) }}</center>
    </div>
{% endblock %}