{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    {% for team in selectTeam %}
        {%  if app.user == team.participant and (team.permission == 'MASTER' or team.permission == 'MODERATOR') %}
            <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
            <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
            <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block menuCat %}
    <ul class="vertical menu" id="menu-dashboard">
        <label id="label">Logs</label>
        <li class="menu-option-info">Backlog <span class="badge secondary">{{ backlog }}</li>
        <li class="menu-option-info">In Progress <span class="badge secondary">{{ inProgress }}</li>
        {% for team in selectTeam %}
            {%  if app.user == team.participant and team.permission == 'MASTER' %}
                <label id="label">Settings</label>
                <li id="menu-option"><a href="{{ path('index_team', {'name': project.name}) }}">Team</a></li>
                <li id="menu-option"><a href="{{ path('invitation_access_team', {'name': project.name}) }}">Invitations</a></li>
                <li id="menu-option"><a href="{{ path('settings_project', {'name': project.name}) }}">Settings</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

{% block menuUsr %}
    <ul class="vertical menu" id="menu-dashboard">
        <label id="label">Team</label>
        {% for team in selectTeam %}
            <li id="menu-option">
                <a href="{{ path('profile', {'username': team.participant}) }}">
                    <img src="{{ asset('avatars/'~team.participant.path) }}" id="circle">
                    <b>{{ team.participant }}</b> - [{{ team.permission|lower }}]
                </a>
            </li>
        {% else %}
            <li id="menu-option">No Developers</li>
        {% endfor %}
        <p style="margin-top: 20px;"><button class="button small secondary" style="position:absolute; bottom: 0; width: 100%" data-open="exitFromProject">Exit</button></p>
        <div class="reveal" id="exitFromProject" data-reveal>
            <h4>Remove from project</h4>
            <p>Are you sure you want to remove yourself from the project?</p>
            {% for team in selectTeam %}
                {% if team.participant == app.user %}
                    <center><a href="{{ path('exit_team', {id: team.id}) }}" class="button small secondary">Yes</a></center>
                {% endif %}
            {% endfor %}
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </ul>
{% endblock %}

{% block dashboard %}
    <div class="card">
        <div class="card-divider">
            <h4>{{ project.name }}</h4>
        </div>
        <div class="text-center">
            <table class="unstriped stack">
                <tbody>
                {% for board in selectBoard %}
                    <tr>
                        <td width="1">
                            {% if board.status == 1 %}
                                <span class="dot-grey"></span>
                            {% elseif board.status == 2 %}
                                <span class="dot-green"></span>
                            {% elseif board.status == 3 %}
                                <span class="dot-purple"></span>
                            {% elseif board.status == 4 %}
                                <span class="dot-red"></span>
                            {% endif %}
                        </td>
                        <td>
                            <a class="link" href="{{ path('table_task', {'name': project.name, 'id': board.id}) }}">
                                <span class="float-left">{{ board.name }}</span>
                            </a>
                        </td>
                        <td>
                            {% if board.name != 'Backlog' %}
                                {% if board.modified %}
                                    <span class="float-right" style="color: grey">(modified) {{ board.modified|date('Y-m-d H:s:i') }}</span>
                                {% else %}
                                    <span class="float-right" style="color: grey">(created) {{ board.createdAt|date('Y-m-d H:s:i') }}</span>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}