{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block dashboard %}
    <div class="dashboard">
        <label>Title</label>
        <h4>{{ project.name }}</h4>
        <label>Description</label>
        <p>{{ project.description }}</p>
        <hr>
        <form action="{{ path('join_to_team', {id: project.id}) }}" method="post">
            <div class="medium-12">
                <label>
                    Message for the project master <i>(max 255 characters)</i>
                    <textarea placeholder="Message..." rows="5" name="invitation_message"></textarea>
                </label>
            </div>
            <div class="medium-12">
                <input type="submit" class="button primary" name="invitation_submit" value="Send Invitation">
            </div>
        </form>
    </div>
{% endblock %}