{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">

        <h4>New Project</h4> <hr>

        <ul class="tabs" data-tabs id="new-project-tabs">
            <li class="tabs-title is-active"><a href="#blank" aria-selected="true">Blank project</a></li>
            {#<li class="tabs-title"><a href="#template" aria-selected="true">Create from template</a></li>#}
        </ul>

        <div class="tabs-content" data-tabs-content="new-project-tabs">
            <div class="tabs-panel is-active" id="blank">

                {{ form_start(formProject, {"attr": {"novalidate": "novalidate"}}) }}
                <div class="grid-container">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-6 cell">
                            <label><b>Project path</b>
                                <div class="input-group">
                                    <input type="text" value="http://localhost/your-project-name/dashboard" disabled>
                                    {#<input type="text" value="http://localhost:8000/{{ app.user.username }}" disabled>#}
                                </div>
                            </label>
                        </div>
                    <div class="medium-6 cell">
                        <label><b>Project name</b>
                            {{ form_widget(formProject.name, {'attr': {'placeholder': 'my-awesome-project'}}) }}
                        </label>
                    </div>
                    <div class="medium-12 cell">
                        <label><b>Project description (optional)</b>
                            {{ form_widget(formProject.description, {'attr': {'placeholder': 'Description format'}}) }}
                        </label>
                    </div>
                </div>
            </div>
                {{ form_widget(formProject.submit, {'attr': {'class': 'button success'}}) }}
                {{ form_end(formProject) }}
            </div>
        </div>

    </div>
{% endblock %}