{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">
        <h4>Results</h4> <hr>
        {% for project in search %}
            {% for team in project.team %}
                {% if team.deleted == 0 and team.participant == app.user %}
                    {% if team.permission == 'DEVELOPER' and team.invitation == 0 %}
                        <img src="{{ asset('img/box-green.png') }}" class="img-responsive" width="35">
                    {% elseif team.permission == 'MODERATOR' and team.invitation == 0 %}
                        <img src="{{ asset('img/box-blue.png') }}" class="img-responsive" width="35">
                    {% elseif team.permission == 'MASTER' and team.invitation == 0 %}
                        <img src="{{ asset('img/box-orange.png') }}" class="img-responsive" width="35">
                    {% elseif team.permission == null and team.invitation == 0 %}
                        <img src="{{ asset('img/box-grey.png') }}" class="img-responsive" width="35">
                    {% elseif team.permission == null and team.invitation == 1 %}
                        <img src="{{ asset('img/box-white.png') }}" class="img-responsive" width="35">
                    {% endif %}
                {% endif %}
            {% endfor %}
            <a href="{{ path('dashboard_project', {'name': project.name}) }}"><b>{{ project.name }}</b></a>
            <p class="float-right">{{ project.modified|date("d M Y") }}</p>
            <hr>
        {% else %}
            <p><b>No results</b></p>
        {% endfor %}
        <center>{{ knp_pagination_render(search) }}</center>
    </div>
{% endblock %}