{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block menu %}
    <li><a href="{{ path('dashboard_project', {'name': project.name}) }}" id="a_dashboard" class="button secondary"><b>Dashboard</b></a></li>&nbsp
    <li><a href="{{ path('index_board', {'name': project.name}) }}" class="button secondary">+ Board</a></li>&nbsp
    <li><a href="{{ path('index_category', {'name': project.name}) }}" class="button secondary">+ Category</a></li>&nbsp
    <li><a href="{{ path('index_task', {'name': project.name}) }}" class="button secondary">+ Task</a></li>
{% endblock %}

{% block menuCatT %}
    <ul class="vertical menu" id="menu-dashboard">
        <label id="label">Settings</label>
        <li id="menu-option"><a href="{{ path('index_team', {'name': project.name}) }}">Team</a></li>
        <li id="menu-option"><a href="{{ path('invitation_access_team', {'name': project.name}) }}">Invitations</a></li>
        <li id="menu-option"><a href="{{ path('settings_project', {'name': project.name}) }}">Settings</a></li>
    </ul>
{% endblock %}

{% block table %}
    <div style="margin-left: 10px">

        <h4>Settings</h4> <hr>

        <div class="card" style="padding: 1vh;">
            <label>Title</label>
            <h5>{{ project.name }}</h5>
            <label>Description</label>
            <p>{{ project.description }}</p>
            <hr>
            <label>Invite link</label>
            <input type="text" value="http://localhost:8000/join/{{ project.id }}" disabled>

        </div>

        <div class="card">
            <div class="card-divider">
                <h4>General</h4>
            </div>
            <div class="card-section">
                {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
                <ul class="accordion" data-accordion>
                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Title</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.name, {'attr': {'placeholder': 'Title'}}) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Description</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.description, {'attr': {'placeholder': 'Description'}}) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Remove</a>

                        <div class="accordion-content" data-tab-content>

                            <p>Are you sure do you want to remove this project?</p>
                            <a href="{{ path('delete_project', {'id': project.id}) }}" class="button alert">Remove project</a>

                        </div>
                    </li>
                </ul>
                {{ form_widget(form.submit, {'attr': {'class': 'button success expanded'}, 'label': 'Save'}) }}
                {{ form_end(form) }}

            </div>
        </div>

    </div>
{% endblock %}