{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block dashboard %}
    <div class="dashboard">
        <label>Title</label>
        <h4>{{ project.name }}</h4>
        <label>Description</label>
        <p>{{ project.description }}</p>
        <hr>
        <a href="{{ path('cancel_join', {project: project.id, user: app.user.id}) }}" class="button small secondary">Cancel invitation</a>
        <p>
            <b>You have sent the invitation, the project master must confirm it.</b><br>
            Your message: <i>"{{ message }}"</i>
        </p>
    </div>
{% endblock %}