{% extends 'base.html.twig' %}

{% block title %}{{ project.name }}{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">

    <div class="grid-x grid-padding-x align-top">
        <div class="columns medium-6">
            <div class="card">
                <div class="card-divider">
                    <h5>{{ project.name }}</h5>
                </div>
                <label>Description</label>
                <p>{{ project.description }}</p>
            </div>
        </div>
        <div class="columns medium-5 medium-offset-1" style="padding-top: 10vh;">
            <div class="card">
                    {% if team.invitation == false %}
                        <h4 class="float-center">Join the {{ project.name }}'s team</h4>
                        <a href="{{ path('join_to_team', {'id': project.id}) }}" class="button float-center">Join</a>
                    {% else %}
                        <p>{{ team.partake|date }}</p>
                    {% endif %}
            </div>
        </div>
    </div>

    </div>
{% endblock %}