{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}

    {% if error %}
        <div class="callout alert" data-closable>
            <p>{{ error.messageKey }}</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="grid-x grid-padding-x" style="margin: 10vh;">
        <div class="medium-4" style="position: fixed; ">
            <img src="{{ asset('img/paper.png') }}">
        </div>
        <div class="medium-4 medium-offset-7" style="margin-top: 5vh;">
            <h3>Sign in</h3>
            <form action="{{ path('login') }}" method="post">
                    <label>
                        <input type="text" name="_username" id="username" placeholder="Login">
                    </label>
                    <label>
                        <input type="password" name="_password" id="password" placeholder="Password">
                    </label>
                <button class="button secondary expanded">Login</button>
            </form>
            <hr>
            <a href="{{ path('register') }}" class="button success expanded">Create an account</a>
        </div>
    </div>

{% endblock %}
