{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">

        <div class="callout" style="background: #fafafa">
            <center>
                {% for info in infoAboutUser %}
                <img src="{{ asset('avatars/'~info.path) }}" id="circle-profile">
                <h4>{{ info.fullname }}</h4>
                <p>@{{ info.username }}</p>
                {% endfor %}
            </center>
        </div>
        <hr>

        <center>
        <div class="grid-x">
                <div class="cell medium-3 medium-offset-2">
                    <div class="card">
                        <div class="card-divider">
                            <b class="float-center">Participates</b>
                        </div>
                        <div class="card-section">
                            <p>in</p>
                            <h4>
                                {{ selectProject|length }}
                            </h4>
                        </div>
                        <div class="card-divider">
                            <b class="float-center">projects</b>
                        </div>
                    </div>
                </div>
                <div class="cell medium-3 medium-offset-2">
                    <div class="card">
                        <div class="card-divider">
                            <b class="float-center">Author</b>
                        </div>
                        <div class="card-section">
                            <p class="float-center">in</p>
                            <h4>
                                {{ selectAuthorProject|length }}
                            </h4>
                        </div>
                        <div class="card-divider">
                            <b class="float-center">projects</b>
                        </div>
                    </div>
                </div>
        </div>
        </center>

    </div>
{% endblock %}