{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {#{% if error %}#}
        {#<div class="callout alert" data-closable>#}
            {#<p>{{ error.messageKey }}</p>#}
            {#<button class="close-button" aria-label="Dismiss alert" type="button" data-close>#}
                {#<span aria-hidden="true">&times;</span>#}
            {#</button>#}
        {#</div>#}
    {#{% endif %}#}

    <div class="grid-x grid-padding-x" style="margin: 10vh;">
        <div class="medium-4" style="position: fixed; ">
            <img src="{{ asset('img/paper.png') }}">
        </div>
        <div class="medium-4 medium-offset-7" style="margin-top: 5vh;">
            <h3>Register</h3>
            {{ form_start(registerForm, {"attr": {"novalidate": "novalidate"}}) }}
            {{ form_widget(registerForm.username, {'attr': {'placeholder': 'Username'}}) }}
            {{ form_widget(registerForm.fullname, {'attr': {'placeholder': 'Fullname'}}) }}
            {{ form_widget(registerForm.email, {'attr': {'placeholder': 'Email'}}) }}
            {{ form_widget(registerForm.password.first, {'attr': {'placeholder': 'Password'}}) }}
            {{ form_widget(registerForm.password.second, {'attr': {'placeholder': 'Confirm Password'}}) }}
            {{ form_widget(registerForm.submit, {'attr': {'class': 'button success expanded'}}) }}
            {{ form_end(registerForm) }}
        </div>
    </div>

{% endblock %}
