{% extends 'base.html.twig' %}

{% block title %}Settings{% endblock %}

{% block body %}
    <div style="margin-top: 1.5vh;">

        <div class="card">
            <div class="card-divider">
                <h4>Settings</h4>
            </div>
            <div class="card-section">
                {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}
                <ul class="accordion" data-accordion>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Avatar</a>
                        <div class="accordion-content" data-tab-content>
                            <img src="{{ asset('avatars/'~user.path) }}" id="circle-profile">
                            <label>Recommended square image [Max 2MB]</label>
                            {{ form_widget(form.file) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Fullname</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.fullname, {'attr': {'placeholder': 'Fullname'}}) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Username</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.username, {'attr': {'placeholder': 'Username'}}) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Email</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                        </div>
                    </li>

                    <li class="accordion-item" data-accordion-item>
                        <a href="#" class="accordion-title">Password</a>

                        <div class="accordion-content" data-tab-content>
                            {{ form_widget(form.password.first, {'attr': {'placeholder': 'New Password'}}) }}
                            {{ form_widget(form.password.second, {'attr': {'placeholder': 'Confirm Password'}}) }}
                        </div>
                    </li>
                    {{ form_widget(form.submit, {'attr': {'class': 'button success expanded'}, 'label': 'Save'}) }}
                </ul>
                {{ form_end(form) }}

                <p><button class="button alert" data-open="removeUserModal">Remove account</button></p>
                <div class="reveal" id="removeUserModal" data-reveal>
                    <center>
                        <h2>Do you want remove your account?</h2>
                        <p class="lead" style="color: red">this operation will not be reversible</p>
                        <a href="{{ path('settings_remove_user', {'id': user.id}) }}" class="button alert">I want remove</a>
                    </center>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
        </div>

    </div>
{% endblock %}